.vscode/
.idea/
*.json
*.pyd
*.html
**/__pycache__/
*.egg-info

build
tmp/
data/
features.json
*stats
jiojio/models/test_cws_model/
jiojio/models/test_pos_model/
jiojio/models/default_cws_model/
jiojio/models/default_pos_model/
